@import url(https://fonts.googleapis.com/css?family=Roboto:);




:root {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    --mainColor: #f9e0e0;
    --secondColor: #FCCECE;
    --textColor: #343434;
    --containerWidth: 65rem;
}

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2{
    color: var(--textColor);
    margin: 80px;
}

body {
    min-height: 100vh;
    /*background: rgb(255,191,191);*/
    /*background: radial-gradient(circle, rgba(255,191,191,1) 0%, rgba(255,255,255,1) 100%);*/
    background-color: var(--mainColor);
}

.personImage{
    width: 520px;
    grid-area: personImage;
    justify-self: right;
    align-self: flex-end;
    object-fit: cover;
    margin-bottom: -25px;
    margin-right: -20px;
}

.signature{
    grid-area: personImage;
    width: 400px;
    grid-column: 2;
    grid-row: 3;
    margin-top: 125px;
    margin-left: 120px;
    transform: rotate(352deg);
}

.hero{
    position: relative;
    padding-top:25px;
    padding-bottom:25px;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
            radial-gradient(circle at 10px -5px, transparent 12px, var(--secondColor) 13px);
}
.hero::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
            radial-gradient(circle at 10px 15px, var(--secondColor) 12px, transparent 13px);
}

.heroWrap{
    width: var(--containerWidth);
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "heading personImage"
    "textPerson personImage"
    "textPerson personImage";
}

.container {
    max-width: var(--containerWidth);
    /*border-radius: 25px;*/
    padding: 20px 0px 50px 0px;
    margin: 0px auto 0;

}


.wrapper{
    background-color: var(--secondColor);
    position: relative;
    text-align:center;
    font-weight:bold;
    font-size:24px;
    padding-top:25px;
    padding-bottom:100px;
}


.wrapper::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
            radial-gradient(circle at 10px -5px, transparent 12px, var(--mainColor) 13px);
}
.wrapper::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
            radial-gradient(circle at 10px 15px, var(--mainColor) 12px, transparent 13px);
}

.heading {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    padding: 2.5rem 0;
    color: var(--textColor);
    grid-area: heading;
}

.love{
    color: #ff5959;
}

.love:before{
    content: "♡";
    color: #fbbdbd;
    position: absolute;
    font-size: 10rem;
    margin-top: -85px;
    margin-left: -5px;
    z-index: -1;
}

.cap{
    width: 65px;
    position: absolute;
    margin-top: -30px;
    transform: rotate(-25deg);
    margin-left: -50px;
}

.roller{
    width: 320px;
    transform: rotate(75deg);
    position: absolute;
    margin-left: calc(300px - var(--containerWidth));
    margin-top: 380px;
}

.gloves{
    width: 150px;
    position: absolute;
    bottom: 0;
    margin-bottom: -190px;
    z-index: 1;
    transform: rotate(26deg);
    margin-left: var(--containerWidth);
}

.bag{
    width: 200px;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    right: 50px;
}

.textPerson{
    grid-area: textPerson;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-right: 1.5rem;
    font-size: 1.1rem;
}

.scrollButton{
    width: 280px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    font-size: 1.4rem;
    background-color: #ff5959;
    text-decoration: none;
    color: white;
    grid-area: textPerson;
    align-self: center;
    transition: transform 200ms ease-out;
}

.scrollButton:hover{
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    flex: 1 0 5rem;
    margin: 1rem;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 25px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.gallery-image:hover {
    transform: scale(1.15);
}

.description{
    position: relative;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.57) 53%,rgba(255,255,255,1) 93%,rgba(255,255,255,1) 100%);
    width: auto;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -120px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 70px 12px 20px 12px;
    z-index: -1;
    cursor: pointer;
    color: #000000;
}

.gallery-item:hover .description{
    z-index: 1;
}

footer{
    text-align: center;
    margin: 35px 0px;
    color: var(--textColor);
    display: flex;
    flex-direction: column;
    align-content: center;
}

.email{
    color: var(--textColor);
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 2.5rem;
    width: min-content;
    align-self: center;
}

.email::before{
    font-family: "FontAwesome";
    font-weight: 800;
    content: "\f0e0";
    margin-right: 5px;
    font-size: 1rem;
}

.phone{
    color: var(--textColor);
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 2.5rem;
    align-self: center;
    margin-bottom: 1.5rem;
}

.phone::before{
    font-family: "FontAwesome";
    font-weight: 800;
    content: "\f879";
    margin-right: 5px;
    font-size: 1rem;
}

.categoriesButtons{
    display: flex;
    width: var(--containerWidth);
    margin: 50px 0;
    justify-content: space-around;
}

.catBtn{
    width: 230px;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    border-radius: 25px;
    text-align: left;
    border: 2px solid transparent;
}

.catBtn:hover{
    border: 2px solid;
}

.catBtn:hover img{
    transform: scale(1.1);
}

.catBtn span{
    margin-right: 20px;
    margin-left: 45px;
}

.catBtn img{
    max-width: 120px;
    max-height: 120px;
    overflow: hidden;
    position: absolute;
    margin-top: -15px;
    transition: transform 200ms ease-out;
}

.cakeButton{
    background-color: #ffcba1;
    color: #744334;
}

.muffinButton{
    background-color: #d8f1ec;
    color: #34cea5;
}

.muffinButton img{
    margin-top: -25px;
}

.dessertButton{
    background-color: #fffbb0;
    color: #db9409;
}

.dessertButton img{
    margin-left: -15px;
}

.othersButton{
    background-color: #F8C864;
    color: #AD3B05;
}




.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000eb;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80vh;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

.mySlides{
    width: 80vh;
    height: 80vh;
}

.mySlides img{
    height: 80vh;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
    width: 8vh;
    height: 8vh;
}

img.demo.active{
    opacity: 1;
}
.demo:hover {
    opacity: 1;
}

.thumbnail{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page404{
    font-size: 4rem;
    color: var(--textColor);
    margin: 150px 0px;
}

.heroWrap404{
    margin: 50px auto;
    width: 450px;
    display: block;
}

.cap404{
    margin-top: -160px;
}

.gloves404{
    margin-left: calc(var(--containerWidth) / 2);
}

.activeButton{
    border: 2px solid;
}

/* Cookie script styles */
#cookiescript_injected {
    background-color: white !important;
}

#cookiescript_header,
#cookiescript_description,
#cookiescript_close,
#cookiescript_manage,
#cookiescript_copyright,
#cookiescript_link,
.cookiescript_checkbox_text,
#cookiescript_readmore,
#cookiescript_manageicon,
.cookiescript_gear {
    color: #2d2d2d !important;
}

#cookiescript_manage:hover #cookiescript_manageicon .cookiescript_gear {
    fill: #FF5959 !important;
}

.cookiescript_gear {
    fill: #2d2d2d !important;
}

.mdc-checkbox__background {
    border-color: #2d2d2d !important;
}

#cookiescript_readmore:hover {
    color: #FF5959 !important;
}

.cookiescriptlogo {
    fill: white !important;
}

#cookiescript_badge {
    background-color: #FF5959 !important;
}

#cookiescript_save {
    background-color: #ff5959 !important;
    border: none !important;
}

#cookiescript_save:hover {
    background-color: #ff5959 !important;
    transform: scale(1.05) !important;
}

#cookiescript_injected #cookiescript_accept {
    color: white !important;
    background-color: #ff5959 !important;
    border: none !important;
}

#cookiescript_injected #cookiescript_accept:hover {
    color: white;
    background-color: #ff5959 !important;
    transform: scale(1.05) !important;  
}

#cookiescript_reject,
#cookiescript_accept {
    color: #ff5959 !important;
    background-color: transparent !important;
    border: 2px solid #ff5959 !important;
}

#cookiescript_reject:hover,
#cookiescript_accept:hover {
    background-color: transparent !important;
    transform: scale(1.05) !important;
}





@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }
}

@media screen and (max-width: 1444px){
    .gloves{
        margin-left: unset;
        right: 40px;
    }
}

@media screen and (max-width: 1199px){
    :root{
        --containerWidth: 50rem;
    }
    .personImage{
        width: 380px;
        position: relative;
        bottom: -30px;
        z-index: -1;
    }
    .signature{
        width: 260px;
        margin-top: 46px;
    }
    .heroWrap{
        grid-template-columns: 1.5fr 1fr;
    }
    .scrollButton{
        grid-area: scrollButton;
    }
    .heroWrap{
        grid-template-areas:
            "heading personImage"
            "textPerson personImage"
            "scrollButton personImage";
        grid-template-rows: 150px 1fr 80px;
        margin: 50px auto 30px;
    }
    .categoriesButtons{
        width: 40rem;
        margin: 50px auto;
        flex-wrap: wrap;
    }
    .catBtn{
        margin-bottom: 35px;
    }
    .catBtn span{
        margin-right: 0px;
    }
    .dessertButton img{
        margin-left: 0px;
    }
    .roller{
        margin-left: calc(170px - var(--containerWidth));
    }
    .bag{
        margin-left: calc(var(--containerWidth) / 10);
    }
    .gloves{
        margin-left: calc(var(--containerWidth) - 100px);

    }
    .gloves{
        width: 120px;
        margin-bottom: -140px;
        right: 30px;
    }
}

@media screen and (max-width: 830px){
    :root{
        --containerWidth: 90vw;
    }
    h2{
        margin: 80px 0px;
    }
    .categoriesButtons{
        flex-direction: column;
        align-items: center;
        margin: 50px 0px;
        width: unset;
    }
    .catBtn{
        width: 90vw;
        text-align: center;
    }
    .catBtn span{
        margin: 0px;
        margin-left: -50px;
        margin-right: 20px;
    }
    .heroWrap{
        grid-template-columns: 1fr;
        grid-template-areas:
            "heading"
            "textPerson"
            "scrollButton"
            "personImage";
    }
    .signature{
        grid-column: 1;
        grid-area: personImage;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 390px;
        top: 20px;
    }
    .heading{
        text-align: center;
    }
    .textPerson{
        margin: 0;
        text-align: center;
    }
    .scrollButton{
        width: var(--containerWidth);
    }
    .cap{
        margin-left: 0px;
    }
    .personImage{
        margin-left: auto;
        margin-right: auto;
    }
    .roller{
        transform: rotate(156deg);
        margin-top: -50px;
        width: 260px;
    }
}

@media screen and (max-width: 655px){
    .modal{
        padding-top: 10vh;
    }
    .thumbnail{
        display: none;
    }
    .mySlides{
        width: 86vw;
        height: auto;
    }
    .mySlides img{
        width: 86vw;
        height: auto;
    }
    .modal-content{
        width: 86vw;
    }
    .categoriesButtons{
        width: var(--containerWidth);
    }
}

@media screen and (max-width: 470px){
    .heading{
        padding-bottom: 0px;
    }
    .personImage{
        width: 90vw;
    }
    .bag{
        right: 15px;
    }
    .roller{
        left: 180px;
    }
}

